[Unit]
Description=Floodgate

[Service]
User=content-api
Group=content-api
Restart=on-failure
Environment='HOME=/home/content-api'
Environment='JAVA_OPTS=-Xms1500m -Xmx1500m -XX:+UseConcMarkSweepGC -XX:+PrintGCDetails -XX:+PrintGCDateStamps -Xloggc:/home/content-api/logs/gc.log -Dconfig.file=/etc/gu/floodgate.conf'
WorkingDirectory=/home/content-api
ExecStart=/home/content-api/floodgate/bin/content-api-floodgate

[Install]
WantedBy=multi-user.target
