@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>@title</title>
        <script>@{ /* this._tmConfig = @Html(config.toString); */ }
        </script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


        <link rel="icon" type="image/x-icon" href="@routes.Assets.versioned("favicon.ico")">
        <link rel="apple-touch-icon-precomposed" sizes="128x128" href="@routes.Assets.versioned("favicon128.ico")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("main.min.css")"/>
    </head>
    <body>
        <noscript class="logout__noscript">@{ /*
            @if(user.isEmpty) {
                <a class="top-toolbar__user-link" href="@routes.Application.index">Log in</a>
            } else {
                <a class="top-toolbar__user-link" href="@routes.Login.logout" title="Logout">Logout</a>
            }
        */ }
        </noscript>

        @content

    </body>
</html>