body {
    background-color: #d9d9d9;
}

* {
    border-radius: 0 !important;
}

#wrapper {
    padding-left: 0;
    padding-top: 0;
}

#page-wrapper {
    width: 100%;
    padding: 20px;
}

.navbar {
    margin-bottom: 0 !important;
}

.navbar .container {
    width: auto;
}

table tbody tr .navbar-brand {
    cursor: pointer;
    padding: 0;
}

#job-history
    .in-progress-orange {
        color: white;
        background-color: orange;
    }
    .in-progress-yellow {
        color: black;
        background-color: yellow;
    }
    .in-progress-green {
        color: black;
        background-color: lightgreen;
    }
    .completed, .cancelled, .stopped {
        color: black;
        background-color: #d9d9d9;
    }
    .failed {
        color: white;
        background-color: red;
    }

.margin-bottom-10 {
    margin-bottom: 10px;
}

.no-margin-bottom .form-group {
    margin-bottom: 0;
}

.btn-link {
    padding: 10px 0 10px 0;
}

.btn-link:focus {
    outline: 0;
}
